version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app  # Geliştirme yaparken kodu canlı güncellemek için
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules # Node modules'u ezmemek için
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:8000